# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
#пусть несколько = 10
#reset_index нужен потому что иначе индекс 0 будет у 10 строк, так заставляю нумеровать сплошняком
#GitHub только для того, чтобы можно было повторить)
df = pd.DataFrame()
new = pd.DataFrame()
for i in range(10):
    file_students = "https://github.com/burunduk387/Blumenau_IAD_4semestr/raw/main/Students_info_" + str(i) + ".csv"
    file_grades = "https://github.com/burunduk387/Blumenau_IAD_4semestr/raw/main/Students_marks_" + str(i) + ".csv"
    grades = pd.read_csv(file_grades, sep=",").drop("index", axis = 1) #иначе два столбика индекс будет, там у каждой цсв свой
    new = pd.read_csv(file_students, sep=",").join(grades)
    df = pd.concat([df, new]).reset_index(drop=True)
df.head(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,71,83,78
6,6,female,group B,some college,standard,completed,group1,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,38,60,50

# Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
df = df.drop("index", axis = 1)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
print(df.shape)
#or
print(df.shape[0], "rows x", df.shape[1], "columns")

(1000, 9)
1000 rows x 9 columns

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [5]:
df.describe().loc[['min','max','mean','std']]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [6]:
#Смотрю есть ли пропущенные вообще, ибо по столбцам не просили
print(df.isnull().values.any())

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [7]:
print("Math mean:", df["math score"].mean())
print("Reading mean:", df["reading score"].mean())
print("Writing mean:", df["writing score"].mean())

Math mean: 66.089
Reading mean: 69.169
Writing mean: 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [8]:
print("Math score with course:", df["math score"].loc[df["test preparation course"] == "completed"].mean())
print("Math score:", df["math score"].loc[df["test preparation course"] == "none"].mean(), "\n")
print("Reading score with course:", df["reading score"].loc[df["test preparation course"] == "completed"].mean())
print("Reading score:", df["reading score"].loc[df["test preparation course"] == "none"].mean(), "\n")
print("Writing score with course:", df["writing score"].loc[df["test preparation course"] == "completed"].mean())
print("Writing score:", df["writing score"].loc[df["test preparation course"] == "none"].mean())

Math score with course: 69.69553072625699
Math score: 64.0778816199377

Reading score with course: 73.89385474860335
Reading score: 66.53426791277259

Writing score with course: 74.41899441340782
Writing score: 64.50467289719626

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [9]:
print(set(df["lunch"]))
#or
print(df["lunch"].unique())

{'free/reduced', 'standard'}
['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [10]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})
#df.head(10) нужен?

**Зафиксируем минимальный балл для сдачи экзамена**

In [11]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [12]:
print("Passed math:", df[(df["math score"] >= passmark)].count()["math score"]/df.shape[0])
print("Passed math with course", df[(df["math score"] >= passmark) & (df["test preparation"] == "completed")].count()["math score"]/
    df[(df["test preparation"] == "completed")].count()["math score"])
print("Women didn't pass math, no course:", df[(df["math score"] < passmark) & (df["test preparation"] == "none") & (df["gender"] == "female")].count()["math score"]
      /df[(df["test preparation"] == "none")  & (df["gender"] == "female")].count()["math score"])

Passed math: 0.865
Passed math with course 0.9217877094972067
Women didn't pass math, no course: 0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [13]:
from time import monotonic
t0 = monotonic()
print(df.groupby(df["race/ethnicity"])["reading score"].mean(), "\nTime:", monotonic() - t0, "seconds\n")
t0 = monotonic()
print(df.groupby(df["education"])["writing score"].min(), "\nTime:", monotonic() - t0, "seconds")

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
Time: 0.002648591999999894 seconds

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
Time: 0.002587504000000962 seconds

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [14]:
#насколько плохой случай рассматривать?
#написал первое, что пришло в голову
t0 = monotonic()
race = {}
for i in df.index:
    race[df.loc[i, "race/ethnicity"]] = [race.get(df.loc[i, "race/ethnicity"], [0, 0])[0] + 1, 
                              race.get(df.loc[i, "race/ethnicity"], [0, 0])[1] + df.loc[i, "reading score"]]
for i in race:
    print(i, race[i][1]/race[i][0])
print( "Time:", monotonic() - t0, "seconds\n")

t0 = monotonic()
edu = {}
for i in df.index:
    edu[df.loc[i, "education"]] = min(edu.get(df.loc[i, "education"], df.loc[i, "writing score"]), df.loc[i, "writing score"]) 
for i in edu:
    print(i, edu[i])
print( "Time:", monotonic() - t0, "seconds\n")
#Сравнить же пойдёт просто текстом? Ответ: циклом раз сильно дольше и делать не стоит

group B 67.35263157894737
group C 69.10344827586206
group A 64.67415730337079
group D 70.03053435114504
group E 73.02857142857142
Time: 0.03209175699999989 seconds

bachelor's degree 38
some college 19
master's degree 46
associate's degree 35
high school 15
some high school 10
Time: 0.026630229000002004 seconds

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [15]:
pd.pivot_table(data = df, index = ["gender", "education"])

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [16]:
df["Math_PassStatus"] = df["math score"].apply(lambda x: "F"  if x < passmark 
                        else "P")
print("Passed math:", df["Math_PassStatus"].value_counts().loc["P"])
print("Failed math:", df["Math_PassStatus"].value_counts().loc["F"])
df["Reading_PassStatus"] = df["reading score"].apply(lambda x: "F"  if x < passmark 
                        else "P")
print("Passed reading:", df["Reading_PassStatus"].value_counts().loc["P"])
print("Failed reading:", df["Reading_PassStatus"].value_counts().loc["F"])
df["Writing_PassStatus"] = df["writing score"].apply(lambda x: "F"  if x < passmark 
                        else "P")
print("Passed writing:", df["Writing_PassStatus"].value_counts().loc["P"])
print("Failed writing:", df["Writing_PassStatus"].value_counts().loc["F"])

Passed math: 865
Failed math: 135
Passed reading: 910
Failed reading: 90
Passed writing: 886
Failed writing: 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [17]:
df["OverAll_PassStatus"] = df.apply(lambda x : "F" if x["Math_PassStatus"] == "F" or 
                        x["Reading_PassStatus"] == "F" or 
                        x["Writing_PassStatus"] == "F" 
                        else "P", axis = 1)
print("Passed OverAll:", df["OverAll_PassStatus"].value_counts().loc["P"])

Passed OverAll: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [18]:
#50 дает E, остальное по аналогии, т. е. 60 дает D, 70 дает C... 
#В точке 90 по идее все еще B по верхнему из условий. Никаких других условий на граничные точки не давали,
#поэтому считаю в пользу студента
#Надеюсь можно вывести таким "некрасивым" способом
def GetGrade(average_mark):
    if average_mark > 90:
        return "A"
    elif average_mark >= 80 and average_mark <= 90:
        return "B"
    elif average_mark >= 70 and average_mark < 80:
        return "C"
    elif average_mark >= 60 and average_mark < 70:
        return "D"
    elif average_mark >= 50 and average_mark < 60:
        return "E"
    else:
        return "F"
df["Grade"] = df.apply(lambda x : GetGrade((x["math score"] + x["reading score"] + x["writing score"])/3) , axis = 1)
print(df["Grade"].value_counts())

C    261
D    256
E    182
B    148
F    103
A     50
Name: Grade, dtype: int64